/* content part starts */
#content_card {
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
    width: 100%;
    /* border: 2px solid blue; */
    padding: 2vw;
}

#card_left {
    width: 30vw;
    height: 100vh;
    border: 2px solid rgba(123, 113, 113, 0.948);
}

#card_left h2 {
    margin-top: 10px;
    text-align: center;
    color: white;
    font-size: 1.5vw;
    text-transform: uppercase;
    font-weight: 700;
}

#card_left img {
    width: 100%;
    height: 35vh;
    margin-top: 10px;
}

#card_left p {
    margin-top: 5px;
    font-size: 1.5vw;
    font-weight: 600;
    text-align: justify;
    margin: 10px;

}

#card_left a{
    /* text-align: center; */
    /* align-items: center; */
    /* justify-content: center; */
    color: yellow;
    text-decoration: none;
    font-size: 1.5vw;
    font-weight: 600;
    margin-left: 11vw;
}


/* middle part starts */
#card_middle {
    width: 30vw;
    height: 100vh;
    border: 2px solid rgba(123, 113, 113, 0.948);
}

#card_middle h2 {
    margin-top: 10px;
    text-align: center;
    color: white;
    font-size: 1.5vw;
    text-transform: uppercase;
    font-weight: 700;
}

#card_middle img {
    width: 100%;
    height: 35vh;
    margin-top: 10px;
}

#card_middle p {
    margin-top: 5px;
    font-size: 1.5vw;
    font-weight: 600;
    text-align: justify;
    margin: 10px;
}

#card_middle a {
    color: yellow;
    text-decoration: none;
    font-size: 1.5vw;
    font-weight: 600;
    margin-left: 11vw;
}

/* right part starts */
#card_right {
    width: 30vw;
    height: 100vh;
    border: 2px solid rgba(123, 113, 113, 0.948);
}

#card_right h2 {
    margin-top: 10px;
    text-align: center;
    color: white;
    font-size: 1.5vw;
    text-transform: uppercase;
    font-weight: 700;
}

#card_right img {
    width: 100%;
    height: 35vh;
    margin-top: 10px;
}

#card_right p {
    margin-top: 5px;
    font-size: 1.5vw;
    font-weight: 600;
    text-align: justify;
    margin: 10px;
}

#card_right a {
    color: yellow;
    text-decoration: none;
    font-size: 1.5vw;
    font-weight: 600;
    margin-left: 11vw;
}

/* css code for responsive */

@media (max-width:900px){
    /* content part starts */
#content_card {
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    /* border: 2px solid blue; */
    padding-top: 1vh;
    padding-left: 4vh;
}

#card_left {
    width: 90vw;
    height: 78vh;
    margin-bottom: 2vh;
    border: 2px solid rgba(123, 113, 113, 0.948);
}

#card_left h2 {
    margin-top: 10px;
    text-align: center;
    color: #fff;    
    font-size: 3vw;
    text-transform: uppercase;
    font-weight: 700;
}

#card_left img {
    width: 100%;
    height: 35vh;
    margin-top: 10px;
}

#card_left p {
    margin-top: 5px;
    font-size: 2vw;
    font-weight: 600;
    text-align: justify;
    margin: 10px;

}

#card_left a{
    /* text-align: center; */
    /* align-items: center; */
    /* justify-content: center; */
    color: yellow;
    text-decoration: none;
    font-size: 3vw;
    font-weight: 600;
    margin-left: 11vw;
}


/* middle part starts */
#card_middle {
    width: 90vw;
    height: 78vh;
    margin-bottom: 2vh;
    border: 2px solid rgba(123, 113, 113, 0.948);
}

#card_middle h2 {
    margin-top: 10px;
    text-align: center;
    color: #fff;
    font-size: 3vw;
    text-transform: uppercase;
    font-weight: 700;
}

#card_middle img {
    width: 100%;
    height: 35vh;
    margin-top: 10px;
}

#card_middle p {
    margin-top: 5px;
    font-size: 2vw;
    font-weight: 600;
    text-align: justify;
    margin: 10px;
}

#card_middle a {
    color: yellow;
    text-decoration: none;
    font-size: 3vw;
    font-weight: 600;
    margin-left: 11vw;
}

/* right part starts */
#card_right {
    width: 90vw;
    height: 78vh;
    margin-bottom: 2vh;
    border: 2px solid rgba(123, 113, 113, 0.948);
}

#card_right h2 {
    margin-top: 10px;
    text-align: center;
    color:#fff;
    font-size: 3vw;
    text-transform: uppercase;
    font-weight: 700;
}

#card_right img {
    width: 100%;
    height: 35vh;
    margin-top: 10px;
}

#card_right p {
    margin-top: 5px;
    font-size: 2vw;
    font-weight: 600;
    text-align: justify;
    margin: 10px;
}

#card_right a {
    color: yellow;
    text-decoration: none;
    font-size: 3vw;
    font-weight: 600;
    margin-left: 11vw;
}
}


/* css code for responsive */

@media (max-width:600px){
    /* content part starts */
#content_card {
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    /* border: 2px solid blue; */
    padding-top: 1vh;
    padding-left: 2.5vh;
}

#card_left {
    width: 90vw;
    /* min-height: 40vh; */
    margin-bottom: 2vh;
    /* background-color: red; */
    border: 2px solid rgba(123, 113, 113, 0.948);
}

#card_left h2 {
    margin-top: 10px;
    text-align: center;
    color: #fff;
    font-size: 3vw;
    text-transform: uppercase;
    font-weight: 700;
}

#card_left img {
    width: 100%;
    height: 35vh;
    margin-top: 10px;
}

#card_left p {
    margin-top: 5px;
    font-size: 3vw;
    font-weight: 600;
    text-align: justify;
    margin: 10px;

}

#card_left a{
    /* text-align: center; */
    /* align-items: center; */
    /* justify-content: center; */
    color: yellow;
    text-decoration: none;
    font-size: 3vw;
    font-weight: 600;
    margin-left: 11vw;
}


/* middle part starts */
#card_middle {
    width: 90vw;
    height: 78vh;
    margin-bottom: 2vh;
    border: 2px solid rgba(123, 113, 113, 0.948);
}

#card_middle h2 {
    margin-top: 10px;
    text-align: center;
    color: #fff;
    font-size: 3vw;
    text-transform: uppercase;
    font-weight: 700;
}

#card_middle img {
    width: 100%;
    height: 35vh;
    margin-top: 10px;
}

#card_middle p {
    margin-top: 5px;
    font-size: 3vw;
    font-weight: 600;
    text-align: justify;
    margin: 10px;
}

#card_middle a {
    color: yellow;
    text-decoration: none;
    font-size: 3vw;
    font-weight: 600;
    margin-left: 11vw;
}

/* right part starts */
#card_right {
    width: 90vw;
    height: 78vh;
    margin-bottom: 2vh;
    border: 2px solid rgba(123, 113, 113, 0.948);
}

#card_right h2 {
    margin-top: 10px;
    text-align: center;
    color: #fff;
    font-size: 3vw;
    text-transform: uppercase;
    font-weight: 700;
}

#card_right img {
    width: 100%;
    height: 35vh;
    margin-top: 10px;
}

#card_right p {
    margin-top: 5px;
    font-size: 3vw;
    font-weight: 600;
    text-align: justify;
    margin: 10px;
}

#card_right a {
    color: yellow;
    text-decoration: none;
    font-size: 3vw;
    font-weight: 600;
    margin-left: 11vw;
}
}


