* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: calibri;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #657a97;
    
}
#main{
    /* min-height: 100vh; */
    background-image: url(https://images.unsplash.com/photo-1621091211034-53136cc1eb32?q=80&w=1587&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */
}

nav {
    width: 100%;
    height: 80px;
    background-color:#eea877;
    position: relative;
    align-items: center;
}

nav img {
    /* border: 5px solid red; */
    height:80px;
    width: 200px;
    line-height: 80px;
    /* left: 3%; */
    /* background-image: url('img/un_logo.png'); */
    background-size: cover;
    background-position: center;
    position: absolute;
    /* z-index: 9999; */
}

nav ul {
    float: right;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
     padding: 8px 30px;
    /* background-color: #de3747; */
}

nav ul li a:hover {
    background-color: #de3747;
    color: #fff;
    border-radius: 2px;
}

#checkbtn {
    float: right;
    line-height: 80px;
    margin-right: 10px;
    font-size: 30px;
    color: #fff;
    display: none;
}

#check {
    display: none;
}

#check:checked ~ ul {
    left: 0;
}

#check:checked ~ #checkbtn i:before {
    content: "\f00d";
}

#content_img {
    margin-left: 15%;
    margin-top: 10px;
    width: 70%;
    /* border: 2px solid red; */
    margin-bottom: 10px;
}

#content_img h2 {
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
}

#content_img h3 {
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
}

#content_img p {
    color: #000;
    margin: 15px 10px 0px 10px;
    font-size: 20px;
    line-height: 1.8;
    font-weight: 550;
    text-align: justify;
}

#content_img img {
    height: 60vh;
    width: 100%;
    margin-top: 40px;
}

/* vacancy details css part start */


/* footer part start */
.footer {
    /* position: absolute; */
    position: relative;
    width: 100%;
    height: 8%;
    background-color:black;
    bottom: 0;
  }

  .footer h2{
    position: absolute;
    justify-content: center;
    color: #fff;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.8vw;
    white-space: nowrap;
  }



@media(max-width: 900px) {
    
    label.logo {
        font-size: 30px;
        margin-left: 50px;
     }

     .carousel_div {
        display: none;
     }  
     
     #checkbtn {
        display: block;
        color: #000;
     }

     nav {
        background-color:#eea877;
     }
     

     nav ul {
        width: 100%;
        height: 50vh;
        position: fixed;
        top: 80px;
        left: -100%;
        transition: .5s;
        z-index: 9999;
     }

     nav ul li {
        display: block;
        text-align: center;
        line-height: 50px;
        margin: 15px;
        color: #fff;
        
       
        
     }

     nav ul li a{
        padding: 8px 20px;
        background-color: red;
        font-size: 20px;
        font-weight: 800;
        /* z-index: 99999; */
     }
    
    

    #content_img {
        margin-left: 8px;
        margin-top: 10px;
        width: 100%;
        /* border: 2px solid red; */
        margin-bottom: 10px;
    }

    #content_img h2 {
        color: #fff;
        font-size: 3vw;
    }

    #content_img h3 {
        color: #fff;
        font-size: 3vw;
    }
    #content_img p {
        text-align: justify;
        margin-right: 4vw;
        font-size: 2vw;
    }

    #content_img p span {
        background-color: pink;
    }


    /* footer part start */
.footer {
    position: relative;
    /* position: fixed; */
    width: 100%;
    height: 8%;
    background-color:black;
  }

  .footer h2{
    position: absolute;
    justify-content: center;
    color: #fff;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.2vw;
    white-space: nowrap;
  }

}   


   @media(max-width: 600px) {
     label.logo {
        font-size: 25px;
        margin-left: 40px;
     }

     .carousel_div {
        display: none;
     }

    #checkbtn {
        display: block;
        color: #000;
     }

     nav {
        background-color:#eea877;
     }

     nav img {
        height:80px;
        width: 150px;
        left: 3%;
    
    }

     nav ul {
        width: 100%;
        height: 50vh;
        position: fixed;
        top: 80px;
        left: -100%;
        transition: .5s;
        z-index: 9999;
     }

     nav ul li {
        display: block;
        text-align: center;
        line-height: 50px;
        margin: 15px;
        color: #fff;
        
       
        
     }

     nav ul li a{
        padding: 8px 20px;
        background-color: red;
        font-size: 20px;
        font-weight: 800;
        /* z-index: 99999; */
     }


       /* content image parts starts */
       #content_img h2 {
        font-size: 3.5vw;
        text-align: center;
        margin-top: 10px;
        text-transform: uppercase;
        color: #fff;
        font-weight: 800;    
    }       

        #content_img h3 {
        font-size: 3.5vw;
        text-align: center;
        margin-top: 10px;
        text-transform: uppercase;
        color: #fff;
        font-weight: 800;
    } 

        #content_img p {
        color: #000;
        margin: 15px 10px 0px 10px;
        font-size: 3vw;
        line-height: 1.8;
        font-weight: 550;
        text-align: justify;
        margin-right: 6vw;
        } 



    /* footer part start */
    .footer {
    /* position: absolute; */
    position: relative;
    width: 100%;
    height: 8%;
    background-color:black;
  }

  .footer h2{
    position: absolute;
    justify-content: center;
    color: #fff;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.8vw;
    white-space: nowrap;
  }


}
